

<H1>PRODUCTS</H1>

<div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {{#each payload}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.stock}}</td>
                    <td><a href="/api/products/{{this._id}}">Details</a></td>
                </tr>
                
            {{/each}}
        </tbody>
    </table>

    <div>
        {{#if hasPrevPage}}
            <a href="{{prevLink}}">Anterior</a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="{{nextLink}}">Siguiente</a>
        {{/if}}
    </div>
    <a href="/api/carts/viewcart/63d9d629fc420e0e4f35bb85">VIEW CART</a>
</div>
